@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@600&family=Italiana&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Style+Script&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



.app-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container h1{
    font-size: 18px;
    font-weight: 600;
    color: #3498db;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    margin-bottom: 10px;
}

.qr-image {
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
    font-size: 15px;
    font-weight: 500;

}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 2px solid #3498db;
    border-radius: 10px;
}

button {
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right:20px ;
}

.gen-button{
    background-color: #3498db;
}

.gen-button:hover{
     background-color: #1c7fc2;
}
.gen-button:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.down-button{
    background-color: #27ae60 ;
}

.down-button:hover{
    background-color: #13924a;
}

.footer{
    margin: 30px;
    font-size: 15px;
}

.footer a{
    text-decoration: none;
    color: #3498db;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;

}